body {
    background-image: url("background-photo.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.layer {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pic-position {
    margin-left: 3em;
}

.custom-nav{
    background: black;
    width: 100%;
    margin-top: 0;
}

.custom-table {
    text-align: center;
    align-content: center;
    float: left;
}

.navbar-left{
    float: left;
}

.navbar-right{
    float: right;
    margin-left: 55em;
    text-align: center;
}

input {
    padding: 0;
}

input,
input::-webkit-input-placeholder {
    font-size: 14px;
    text-align: center;
    line-height: 3;
}

h1 img {
    margin-bottom: 20px;
}

body h1{
    color: white;
}

table {
    border: solid white;
    border-collapse: collapse;
    background-color: azure;
    color: white;
}

td, th {
    border: 4px solid white;
    padding: 5px 10px;
    text-align: center;
}

.tagline {
    color: white;
    float: right;
    font-size: xx-large;
    margin-top: -50px;
    margin-right: 1em;
}

.slong-font {
    font-family: 'Lobster', cursive;
}

.coffeeSelector {
    color: white;
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    /*font-size: 18px;*/
    font-size: small;
    color: black;
    display: block
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
    padding: 0;
}

.table-background {
    background-color: black;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .inputBox {
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-top: 5px;
        margin-bottom: 0;
        margin-left: 22px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    .inputBigScreen {
        margin-top: -3em;
        float: left;
    }

}