body {
    background-image: url("background-photo.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.custom-nav{
    background: black;
    background-size: cover;
    width: 100%;
}

.custom-table {
    text-align: center;
    align-content: center;
    float: left;
}

.navbar-left{
    float: left;
}

.navbar-right{
    float: right;
    margin-left: 40em;
    text-align: center;
}

input {
    padding: 0;

}


input,
input::-webkit-input-placeholder {
    font-size: 14px;
    text-align: center;
    line-height: 3;

}

h1 img {
    margin-bottom: 20px;
}

body h1{
    color: white;
}

table {
    border: solid white;
    border-collapse: collapse;
    background-color: azure;
    margin: 15px 0;
    color: white;
    /*margin-left: 40%;*/
}

td, th {
    border: 1px solid white;
    padding: 5px 10px;
    text-align: center;
}

.tagline {
    color: white;
    float: right;
    margin-top: 1em;
    font-size: xx-large;
}

.coffeeSelector {
    color: white;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}

.table-background {
    background-color: black;
}